body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(213, 250, 255);
}

* {
  font-family: 'Inter', system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.34);
  border-radius: 20px;
  max-width: 1280px;
  margin: 50px auto;
}

header {
  img {
    margin-right: 15px;
  }

  border-bottom: 1px solid #EAEAEA;
  ;

  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cartShadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cart {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .cartItemRemove {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    padding-left: 60px;

    &:hover {
      opacity: 1;
    }
  }
}

.button {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
}